@model IEnumerable<EasyGram.Models.Lesson>
@{
    ViewBag.Title = "Уроки";
}
<h2>Уроки1</h2>
<div>
    @foreach (var lesson in Model)
    {
        <div style="border:1px solid #eee; border-radius:10px; margin:10px 0; padding:12px;">
            <a href="/Practice/Details/@lesson.Id" style="font-size:1.2rem; color:#306998; font-weight:600;">@lesson.Title</a>
            <p>@lesson.Description</p>
            <span style="font-size:0.95rem;">Заданий: @lesson.Tasks.Count()</span>
        </div>
    }
</div>
