<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="~/EasyGram.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/theory.css" />
    <link rel="stylesheet" href="~/css/test.css" />
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/exam.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap&subset=cyrillic" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-name d-flex align-items-center"
                   asp-area=""
                   asp-controller="Home"
                   asp-action="Index"
                   style="font-size:2rem; font-weight:700; letter-spacing:1px; text-decoration:none; margin-right:38px;">
                    <span style="color:#306998;">PYTHON</span>&nbsp;<span style="color:#FFD43B;">MENTOR</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Home" ? "active" : "")"
                               asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Lessons" asp-action="Index">Уроки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Exam" ? "active" : "")"
                               asp-area="" asp-controller="Exam" asp-action="Index">Экзамен</a>
                        </li>
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="box-shadow border-top-footer">
        <div class="blocks container ">
            <div>
                <span class="logo" style="color:#306998; font-weight:bold; letter-spacing:1px; font-size:2rem;">PYTHON MENTOR</span>
                <p class="adress">
                    Мы — ваша платформа для лёгкого и увлекательного обучения программированию на Python!
                </p>
            </div>
            <div>
                <h4 id="aboutus">О нас</h4>
                <ul class="block-li">
                    <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
                    <li><a asp-controller="Practice" asp-action="Index">Задачи</a></li>
                    <li><a asp-controller="Exam" asp-action="Index">Экзамен</a></li>
                </ul>
            </div>
            <div>
                <h4>Связаться с нами</h4>
                <p class="adress">Zakirov</p>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
